<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online de Ropa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary sticky-top border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Tienda de Ropa</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.php">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre Nosotros</a>
                        </li>
                    </ul>
                </div>
                <form class="d-flex" role="search" method="post" action="">
                    <input class="form-control me-2" type="search" placeholder="Buscar productos..." aria-label="Search" name="search" required>
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
                <a href="carrito.php" class="btn btn-outline-light ms-3">Carrito</a>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="fs-1 text-center mt-4">Bienvenido a nuestra Tienda de Ropa</div>
        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row text-center">
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="./img/camisas.jpg" class="card-img-top product-image" alt="Producto 1">
                                        <div class="card-body">
                                            <h5 class="card-title">Camisas</h5>
                                            <p class="card-text">Añade un toque de elegancia a tu guardarropa con nuestras camisas</p>
                                            <p class="card-text"><strong>Precio: s/.60</strong></p>
                                            <a href="AgregarPedido.html" class="btn btn-primary">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="./img/polos.png" class="card-img-top product-image" alt="Producto 2">
                                        <div class="card-body">
                                            <h5 class="card-title">Polos</h5>
                                            <p class="card-text">Eleva tu estilo diario con nuestros polos de alta calidad</p>
                                            <p class="card-text"><strong>Precio: s/.80</strong></p>
                                            <a href="AgregarPedido.html" class="btn btn-primary">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="./img/prenda.jpg" class="card-img-top product-image" alt="Producto 3">
                                        <div class="card-body">
                                            <h5 class="card-title">Conjuntos</h5>
                                            <p class="card-text">LLevate conjuntos de calidad</p>
                                            <p class="card-text"><strong>Precio: s/.100</strong></p>
                                            <a href="AgregarPedido.html" class="btn btn-primary">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row text-center">
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="./img/medias.jpg" class="card-img-top product-image" alt="Producto 4">
                                        <div class="card-body">
                                            <h5 class="card-title">Medias</h5>
                                            <p class="card-text">Ponte medias mas comodas</p>
                                            <p class="card-text"><strong>Precio: s/.30</strong></p>
                                            <a href="AgregarPedido.html" class="btn btn-primary">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="./img/sacos.jpg" class="card-img-top product-image" alt="Producto 5">
                                        <div class="card-body">
                                            <h5 class="card-title">Sacos</h5>
                                            <p class="card-text">¡Alta calidad !</p>
                                            <p class="card-text"><strong>Precio: s/.90</strong></p>
                                            <a href="AgregarPedido.html" class="btn btn-primary">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="./img/chompas.jpg" class="card-img-top product-image" alt="Producto 6">
                                        <div class="card-body">
                                            <h5 class="card-title">Chompas</h5>
                                            <p class="card-text">Abrigate con elegancia</p>
                                            <p class="card-text"><strong>Precio: s/.200</strong></p>
                                            <a href="AgregarPedido.html" class="btn btn-primary">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>            
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="ms-3 mb-3 mb-md-0 text-body-secondary">&copy; 2024 - Tienda Online de Ropa</span>
        </div>
        <div class="d-flex col-md-4 justify-content-end">
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
