
    .product-image {
        width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
        height: 200px; /* Altura fija para todas las imágenes */
        object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
        object-fit: cover;
    }
    .card {
        transition: transform 0.2s; /* Efecto de transformación */
    }
    
    .card:hover {
        transform: scale(1.05); /* Aumenta el tamaño al pasar el ratón */
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        width: 50px; /* Ajusta el ancho de las flechas */
        height: 50px; /* Ajusta la altura de las flechas */
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(255, 255, 255, 0.5); /* Color de fondo de las flechas */
        border-radius: 50%; /* Opcional: para hacer las flechas redondeadas */
    }
    
    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: rgba(255, 255, 255, 0.8); /* Cambia el color al pasar el ratón */
    }
    